body {
  background-color: #ffffff;
  background: url('http://adriandgr.github.io/img/404/switch-boys.png') no-repeat;
  background-attachment: fixed;
  background-position: left center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  height:100%;
}



.error-mssg {
    position:absolute;
    bottom: 10px;
    left: 200px;
    background-color: #000000;
    color: #ffffff;
    padding: 10px;
    border: solid red 10px;
    -webkit-box-sizing: border-box;
       -moz-box-sizing: border-box;
            box-sizing: border-box;


}
