body {
  background-color: #ffffff;
}



.switch-boys {
    max-width: 800px;
    background-image: url('http://adriandgr.github.io/img/404/switch-boys.png');
    background-repeat: no-repeat;
    background-size: cover;

}
