<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{ site.title }}.get({% if page.title %} '{{ page.title }}' {% else %} 'content' {% endif %})</title>
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
    <meta name="description" content="{{ site.description }}">
    {% if page.openGraph == true %}{% include openGraph.html %}{% endif %}
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

    <!-- Custom CSS -->
    <link rel="stylesheet" href="{{ "/css/styles.css" | prepend: site.url }}">
    <link rel="stylesheet" href="{{ "/css/pygment_trac.css" | prepend: site.url }}">
    <link rel="icon" type="image/x-icon" href="http://adriandgr.github.io/code/favicon.ico" />
    <!--[if lt IE 9]>
    <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
    <script src="{{ "/js/clmenu.js" | prepend: site.url }}" type="text/javascript"></script>
    <link rel="stylesheet" href="{{ "/css/clmenu.css" | prepend: site.baseurl }}" type="text/css">
    {% if page.shadowbox == true %}{% include shadowbox-init.html %}{% endif %}
    {% if page.hyphenator == true %}{% include hyphenator.html %}{% endif %}
    {% if page.cal_heatmap == true %}{% include cal-heatmap.html %}{% endif %}
    {% include google-analytics.html %}
</head>
