<!DOCTYPE html>
<html>

  <head>
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <title>{{ site.title }}.get({% if page.title %} '{{ page.title }}' {% else %} 'content' {% endif %})</title>
      <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
      <meta name="description" content="{{ site.description }}">
      <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.url }}">

      <!-- Custom CSS -->
      <link rel="stylesheet" href="{{ "/css/error.css" | prepend: site.baseurl }}">
      <link rel="icon" type="image/x-icon" href="http://adriandgr.github.io/code/favicon.ico" />
      <!--[if lt IE 9]>
      <script src="//html5shiv.googlecode.com/svn/trunk/html5.js"></script>
      <![endif]-->
  </head>


    <body>
      <script>
function dynDIV() {
    var h = window.innerHeight;
    var r = 288/305;
    var gap = (r*h) + 50;
    var myDiv = document.getElementById('dyn-error').style;
    myDiv.position = "absolute";
    myDiv.top = "100px";
    myDiv.left = gap+"px";
}
</script>

<style >
</style>

      <div class="switch-boys"><br /><br /><br /><br /><br />
      </div>

      <div class="error-mssg" onload="dynDIV()" id="dyn-error">
      <section>
        {{ content }}
      </section>
      </div>

    </body>
</html>
