---
layout: default
---
{% assign author = site.authors[page.author] %}
<div class="post">





  <article class="post-content justified">
    <h1 class="article">{{ page.title }}</h1>
    {% if page.subtitle %}
    <h2 class="article">{{ page.subtitle }}</h2>
    {% endif %}
    <p class="meta">{{ page.date | date: "%b %-d, %Y" }}{% if page.author %} • <a href="mailto:{{ author.email }}" target="_blank">{{ author.display_name }}</a>{% endif %}{% if page.meta %} • {{ page.meta }}{% endif %}</p>

  {{ content }}

  </article>

</div>
